.cajaOpinion {
    background-image: linear-gradient(to right,
            #BF8085,
            #BF8580,
            #D9ADAD,
            #F2E4E4)
}

.container-nosotros{
    section{
        background-image: linear-gradient(to top,
                #ffa8a8be,
                #ffd8d5d3,
                #f7ad9a,
                #fad5ca)
    }
}

.tipos-servicios-ellos{
    background-image: linear-gradient(to top right,
            #ff0000,
            #ffffff,
            #3c60ff,
            #ffffff)
}

.social-link {
    ul {
        .fa {
            transition: transform 1s ease;
        }
    }
}

.social-link {
    ul {
        a:hover {
            transform: scale(1.2);
        }
    }
}

article {
    section {
        position: relative;
        animation: move 1.5s linear;
    }

    @keyframes move {
        from {
            transform: translateX(-400px);
        }
    }
}

#fundadora {
    position: relative;
    animation: move 1.0s linear;
}

@keyframes move {
    from {
        transform: translateX(400px);
    }
}

#quienes-somos {
    position: relative;
    animation: move 1.0s linear;
}

